<div class="page-inner">
  <div class="menu">
    <div [ngSwitch]="user?.role" class="menu_left">
        <button mat-button routerLink="account-info"> My account </button>
        <button *ngSwitchCase="'doctor'" mat-button routerLink="orders-list"> Orders </button>
        <button *ngSwitchCase="'admin'" mat-button routerLink="doctors-list"> Doctors </button>
    </div>
    <div class="menu_right">
      <button mat-button (click)="logout()"> Logout </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
