<div class="page-inner">
  <div class="order-creation-form">
    <h2 align="center"> Order creation </h2>
    <form [formGroup]="order">
      <mat-form-field>
        <input matInput placeholder="Doctor's name" formControlName="doctor">
      </mat-form-field>

      <mat-form-field>
        <mat-label> Analysis Type </mat-label>
        <mat-select formControlName="analysisType" multiple>
          <mat-option value="urine"> Urine </mat-option>
          <mat-option value="stool"> Stool </mat-option>
          <mat-option value="venipuncture">Venipuncture</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Equipment </mat-label>
        <mat-select formControlName="equipment" multiple>
          <mat-option *ngFor="let entity of (equipmentList | async)" [value]="entity.title"> {{ entity.title }} </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div class="address-input-wrapper">
        <mat-form-field>
          <input matInput placeholder="Choose location" formControlName="address">
        </mat-form-field>
        <img src="https://img.icons8.com/metro/26/000000/search.png" (click)="openSearchFacilityDialog()">
      </div>
     
    </form>
    <div class="order-creation-controls">
      <button mat-button (click)="dialogRef.close()"> Cancel </button>
      <button mat-button (click)="submitOrder()"> Add </button>
    </div>
  </div>
</div>
