<div class="page-inner">
  <div class="order-creation-form">
    <h2 align="center"> Order creation </h2>
    <form [formGroup]="order">
      <mat-form-field>
        <input matInput placeholder="Doctor's name" formControlName="doctor">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Analysis Type </mat-label>
        <mat-select formControlName="analysisType" multiselect>
          <mat-option value="urine"> Urine </mat-option>
          <mat-option value="stool"> Stool </mat-option>
          <mat-option value="venipuncture">Venipuncture</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter facility" formControlName="facility">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Choose Location" formControlName="location">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Choose Equipment" formControlName="equipment">
      </mat-form-field>
    </form>
    <div class="order-creation-controls">
      <button mat-button (click)="dialogRef.close()"> Cancel </button>
      <button mat-button (click)="submitOrder()"> Submit </button>
    </div>
  </div>
</div>
