.order-creation-form {
  display: flex;
  flex-direction: column;

  width: 200px;
  margin: 0 auto;
    
  mat-form-field {
    display: block;
  }

  .order-creation-controls {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    flex-direction: row;

    button {
      width: 100px;
      margin-bottom: 10px;
    }
  }
}