agm-map {
  height: 300px;
  width: 600px;
}

.location-service {
  display: flex;
  align-items: center;
  flex-direction: column;

  .location-service_info {
    width: 100%;
  }
  .location-service_controls {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
}