.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .form-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    mat-form-field {
      display: block;
      padding: 10px;
    }
  
    .signup-controls {
      display: flex;
      justify-content: space-between;;
      align-items: center;
      flex-direction: column;
  
      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}