<div class="signup-form">
  <h2 align="center">Sign up</h2>
  <form [formGroup]="newUserInfo">
    <div class="form-inner">

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" name="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" name="password">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Full name" formControlName="long_name" name="longName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone" name="phone">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Specialty" formControlName="specialty" name="specialty">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Licence" formControlName="license" name="license">
      </mat-form-field>

    </div>
  </form>
  <div class="signup-controls">
    <button mat-button (click)="signUp()"> Sign up </button>
    <button mat-button routerLink="/signin" > I already have an account </button>
  </div>
</div>

